.git
.gitignore
.github
.idea
.vscode
.kube
.gradle
build
node_modules
*.log
*.tmp
*.swp
*.swo
*~
.DS_Store
Thumbs.db

client/dist
client/.nuxt
client/node_modules
client/coverage
client/tests

documentation
README.md
LICENSE

monitoring

infra
*.yaml
*.yml
!gradle.properties
!application.properties
!application.yml
!application-*.yml
!application-*.properties

yarn.lock
package-lock.json
docker-compose.yaml
docker-compose.override.yaml 