
# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Helm
helm/screen/charts/
helm/screen/Chart.lock
helm/screen/secrets.yaml

pk.pem