# LLM Service config
# OpenWebUI config
CHAIR_API_KEY=your-openwebui-api-key
API_URL=https://your.openwebui.instance/api/chat/completions
MODEL_NAME=llama3.3:latest

# OpenAI config
OPENAI_API_KEY=your-openai-api-key

# Redis cache config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL=3600